@model IEnumerable<ClientViewModel>;

<h2 class="text-center">Всички клиенти</h2>
<hr />
<form>
@{
    if (!Model.Any())
    {
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="fst-italic fw-bold"><b>Име</b></th>
                    <th class="fst-italic fw-bold"><b>Представител</b></th>
                    <th class="fst-italic fw-bold"><b>Телефон</b></th>
                    <th class="fst-italic fw-bold"><b>Имейл</b></th>
                    <td><a class="btn btn-secondary" asp-controller="Client" asp-action="Add">Нов клиент</a></td>
                </tr>
                </thead>      
            </table>    
                <h4 class="text-center">Все още нямаш клиенти</h4>
        </div>  
    }
    else
    {
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="fst-italic fw-bold"><b>Име</b></th>
            <th class="fst-italic fw-bold"><b>Представител</b></th>
            <th class="fst-italic fw-bold"><b>Телефон</b></th>
            <th class="fst-italic fw-bold"><b>Имейл</b></th>
            <td><a class="btn btn-secondary" asp-controller="Client" asp-action="Add">Нов клиент</a></td>
        </tr>
        </thead>  
        @foreach (ClientViewModel client in Model)
        {
            <tbody>
                <tr class="gridrow">
                   <td><a style="font-weight:bold; color:forestgreen; text-decoration:none;background-color:transparent" asp-controller="Client" asp-action="Edit" asp-route-id="@client.Id">@client.Name</a></td>
                   <td>@client.Predstavitel</td>
                   <td>@client.PhoneNumber</td>
                   <td>@client.Email</td>
                </tr> 
            </tbody>   
        }
    </table>    
</div>   

    }
}
</form>