@model PersonalFileFormModel
<head>
  <!-- Add ApexCharts library -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- JavaScript code -->
  <script src="~/js/PersonalFileCharts.js"></script>
</head>
<div class="PFileHeader">
	<h2>Това е личното досие на @Model.Name</h2>
</div>
<hr />
<div class="salaryContainer">
	<h5>Текуща заплата:<p>@Model.Salary</p>лв.</h5>
	<h5>Брой повишения:<p>@Model.SalaryUpdates</p>пъти.</h5>
	<a class="btn btn-success" asp-controller="Admin" asp-action="ChangeSalary" asp-route-userId="@Model.userId">Смени заплатата</a>
</div>
	<div id="MonthProjectCount"></div>

<script>
  var MonthAndProjectCountData = @Html.Raw(Json.Serialize(Model.monthlyProjectCounts));
  var chartMonthProjectCount = CreateMonthAndProjectCountChartOptions(ExportMonthAndProjectCountData(MonthAndProjectCountData));
  var MonthProjectCountChart = new ApexCharts(document.querySelector('#MonthProjectCount'), chartMonthProjectCount);

  MonthProjectCountChart.render();
</script>

