@model AllTaskQueryModel;

<h2 class="text-center">Всички задачи</h2>
<hr />
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><div class="form-group" style="width:200px">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" class="form-control">
                    <option value="">Всички</option>
                        @foreach (var category in Model.Types)
                        {
                             <option value="@category">@category</option>
                        }
                    </select>
                </div></th>
                <th>
                <div class="form-group" style="width:200px">
                    <label asp-for="TaskPerPage"></label>
                    <select asp-for="TaskPerPage" class="form-control">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div></th>
                <th>
                    <div class="form-group" style="width:300px">
                       <label asp-for="SearchString"></label>
                       <input asp-for="SearchString" class="form-control" placeholder="...">
                    </div>
                </th>
                <th>
                    <div class="col-md-3">
                        <div class="form-group">
                           <input type="submit" value="Търси" class="btn btn-primary mt-3" />
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</form>
<form>
    @{
        if (!Model.Tasks.Any())
        {
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="fst-italic fw-bold"><b>Статус</b></th>
                            <th class="fst-italic fw-bold"><b>Номер</b></th>
                            <th class="fst-italic fw-bold"><b>Клиент</b></th>
                            <th class="fst-italic fw-bold"><b>Услуга</b></th>
                            <th class="fst-italic fw-bold"><b>Брой</b></th>
                            <th class="fst-italic fw-bold"><b>Цена</b></th>
                            <th class="fst-italic fw-bold"><b>Краен срок</b></th>
                            <td><a class="btn btn-secondary mt-3" asp-controller="GeoTask" asp-action="Add">Нов проект</a></td>
                        </tr>
                        </thead>      
                    </table>    
                        <h4 class="text-center">Все още нямаш задачи</h4>
                </div>  
        }
        else
        {
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="fst-italic fw-bold"><b>Статус</b></th>
                    <th class="fst-italic fw-bold"><b>Номер</b></th>
                    <th class="fst-italic fw-bold"><b>Клиент</b></th>
                    <th class="fst-italic fw-bold"><b>Услуга</b></th>
                    <th class="fst-italic fw-bold"><b>Брой</b></th>
                    <th class="fst-italic fw-bold"><b>Цена</b></th>
                    <th class="fst-italic fw-bold"><b>Краен срок</b></th>
                    <td><a class="btn btn-secondary mt-3" asp-controller="GeoTask" asp-action="Add">Нов проект</a></td>
                                    
                </tr>
                </thead>  
                    @foreach (TaskViewModel task in Model.Tasks)
                    {
                        <tbody>
                            <tr class="gridrow">
                                @if(task.status == "Приключена")
                                {
                                    <td style="color:red"><b>@task.status</b></td>
                                }
                                else if(task.status == "В процес на изпълнение")
                                {
                                    <td style="color:forestgreen"><b>@task.status</b></td>
                                }
                                else
                                {
                                    <td style="color:grey"><b>@task.status</b></td>     
                                }
                                <td><a style="font-weight:bold; color:forestgreen; text-decoration:none;background-color:transparent" asp-controller="GeoTask" asp-action="Edit" asp-route-id="@task.Id">@($"Проект №{task.Number}")</a></td>
                               <td>@task.ClientName</td>
                               <td>@task.TaskType</td>
                               <td>@($"{task.quantity} бр.")</td>
                               <td>@($"{(task.price*task.quantity):F2} лв.")</td>
                                @if (task.EndDate <= DateTime.UtcNow)
                                {
                                    <td style="color:red"><b>@(task.EndDate.ToString("dd/MM/yyyy"))</b></td>

                                }
                                else if (task.EndDate.AddDays(-2) <= DateTime.UtcNow)
                                {
                                    <td style="color:orange"><b>@(task.EndDate.ToString("dd/MM/yyyy"))</b></td>              
                                }
                                else
                                {
                                    <td style="color:forestgreen"><b>@(task.EndDate.ToString("dd/MM/yyyy"))</b></td>                              
                                }
                            </tr> 
                        </tbody>   
                    }
            </table>    
        </div>   

        }
    }
</form>
@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    int taskperPage = Model.TaskPerPage;
    int totaltask = Model.TotalTaskss;
    int maxPage = (int)Math.Ceiling((double)Model.TotalTaskss / Model.TaskPerPage);
}
<div class="row mb-5">
   <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
      <a class="btn btn-success @(Model.CurrentPage == 1 ? "disabled" :
      string.Empty)"
      asp-controller="GeoTask"
      asp-action="AllTasks"
      asp-route-currentPage="@previousPage"
      asp-route-TaskPerPage="@taskperPage"
      asp-route-type="@Model.Type"
      asp-route-searchTerm="@Model.SearchString">
      <<</a>
   </div>
    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Tasks.Any();
    }
   <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-success
      @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
      asp-controller="GeoTask"
      asp-action="AllTasks"
      asp-route-currentPage="@(Model.CurrentPage + 1)"
      asp-route-TaskPerPage="@taskperPage"
      asp-route-type="@Model.Type"
      asp-route-searchTerm="@Model.SearchString">
        >></a>
   </div>
</div>

