@model Tuple<EditGeoTaskViewModel,ComentarViewModel>;
@using TaskManager.Services.Data.Interfaces;

@inject IWorkerService WorkerService;
@inject IStatusService StatusService;
@inject IClientService ClientService;
@{
	AllWorkersViewModel currentWorker = await WorkerService.GetWorkerFromTask(Model.Item1.WorkerId);
	int statusTaskId = Model.Item1.StatusId;
	ClientViewModel currentClient = await ClientService.GetClientByIdAsync(Model.Item1.ClientId);
}
<body style="background-color:grey" class="align-content-center">
	<div class="row" style="background-color:rgb(251,250,240); width:fit-content">
		<div class="col-lg-12">
			<div class="">
				<h4 style="color:grey">@($"Проект№{Model.Item1.ProjectNumber}")</h4>
				<b><span style="position: absolute; top: 65px; right: 10px;">Георги Георгиев, @DateTime.UtcNow.ToString("dd-MM-yyyy")</span></b>
			</div>
 			<form method="post">
			<div>
				<input class="btn btn-secondary mt-3" type="submit" value="Запиши" name="Edit" asp-action="Edit" asp-route-id="@Model.Item1.Id.ToUpper()"/>
				<input class="btn btn-secondary mt-3" type="submit" value="Запиши и затоври" name="SaveAndClose" />
			</div>

			<hr />
				<div class="row" style="width:1500px">
					<div class="col-4 align-content-center">
						<fieldset>
							<legend class="text-center">Основни данни</legend>
							<hr />
							<table class="edit">
								<tbody>
									<tr>
										<td><span>Статус</span> <span class="requried" style="color:red">*</span></td>
										<td><select asp-for=Item1.StatusId class="form-control" style="width:300px"> 
												@foreach (StatusViewModel status in Model.Item1.Statuses)
												{
													@if (status.Id == statusTaskId)
													{
														<option selected="selected" value="@status.Id">@($"{status.Name}")</option>				
													}
													else
													{
														<option value="@status.Id">@($"{status.Name}")</option>
													}
												}			
										</select></td>
									</tr>
									<tr>
										<td><span>Отговорник</span> <span class="requried" style="color:red">*</span></td>
										<td><select asp-for=Item1.WorkerId class="form-control" style="width:300px"> 
										@foreach (AllWorkersViewModel worker in Model.Item1.Workers)
										{
											@if(worker.Id == currentWorker.Id.ToUpper())
											{
												<option selected="selected" value="@worker.Id">@($"{worker.FirstName} {worker.LastName}")</option>				
											}
											else
											{
												<option value="@worker.Id">@($"{worker.FirstName} {worker.LastName}")</option>
											}
										}			
										</select></td>
									</tr>
									<tr>
										<td><span>Идентификатор</span><span class="requried" style="color:red">*</span></td>
										<td><input asp-for="Item1.IdKKKR" class="form-control" style="width:300px" placeholder="68134..."/></td>
										<td><span asp-validation-for="Item1.IdKKKR" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Създанена на</span><span class="requried" style="color:red">*</span></td>
										<td><input asp-for="Item1.CreateDate" type="date" class="form-control" style="width:300px" placeholder="68134..."/></td>
										<td><span asp-validation-for="Item1.CreateDate" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Крайна дата</span><span class="requried" style="color:red">*</span></td>
										<td><input asp-for="Item1.EndDate" type="date" class="form-control" style="width:300px" placeholder="68134..."/></td>
										<td><span asp-validation-for="Item1.EndDate" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Тип</span> <span class="requried" style="color:red">*</span></td>
										<td><select asp-for=Item1.TypeId class="form-control" style="width:300px"> 
												@foreach (TypeViewModel type in Model.Item1.Types)
												{
													@if (type.Id == Model.Item1.TypeId)
													{
														<option selected="selected" value="@type.Id">@($"{type.Name}")</option>				
													}
													else
													{
														<option value="@type.Id">@($"{type.Name}")</option>
													}
												}			
										</select></td>
									</tr>
									<tr>
										<td><span>Цена</span><span class="requried" style="color:red">*</span></td>
										<td><input asp-for="Item1.Price" type="text" class="form-control" style="width:300px"/></td>
										<td><span asp-validation-for="Item1.Price" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Количество</span><span class="requried" style="color:red">*</span></td>
										<td><input asp-for="Item1.quantity" type="number" class="form-control" style="width:300px"/></td>
										<td><span asp-validation-for="Item1.quantity" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><div class="text box-shadow">@($"Крайна цена: {(Model.Item1.Price * Model.Item1.quantity):F2} лв.")</div></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>
					<div class="col-4 align-content-center">
						<fieldset>
							<legend class="text-center">Данни за клиента</legend>
							<hr />
							<table class="edit">
								<tbody>
									<tr>
										<td valign="top">
											 <span>Клиент</span><span class="requried" style="color:red">*</span>
										</td>
										<td><select asp-for=Item1.ClientId class="form-control" style="width:300px"> 
												@foreach (ClientViewModel client in Model.Item1.Clients)
												{
													@if (client.Id == Model.Item1.ClientId)
													{
														<option selected="selected" value="@client.Id">@($"{client.Name}")</option>				
													}
													else
													{
														<option value="@client.Id">@($"{client.Name}")</option>
													}
												}			
										</select></td>

										<tablle>
											<tbody style="border:solid 1px">
												<tr>
													<td><span>Име:</span></td>
													<td style="width:300px">@currentClient.Name"</td>	
												</tr>
												<tr>
													<td><span>Представител:</span></td>
													<td style="width:300px">@currentClient.Predstavitel"</td>	
												</tr>
												<tr>
													<td><span>Телефон:</span></td>
													<td style="width:300px">@currentClient.PhoneNumber"</td>	
												</tr>
												<tr>
													<td><span>Имейл:</span></td>
													<td style="width:300px">@currentClient.Email"</td>	
												</tr>
											</tbody>
										</tablle>						
									</tr>
									<tr>
										<td style="vertical-align: top;">Забележка</td>
										<td><textarea asp-for="Item1.Note" class="form-control" style="width:300px"></textarea></td>
										<td><span asp-validation-for="Item1.Note" class="text-danger"></span></td>											
									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>
						<div class="col-4">
							<fieldset>
								<legend>Коментари</legend>
								<hr />
									  <table>										 
										<tbody>
											@if (Model.Item1.Comentars.Any())
											{
												@foreach (ComentarViewModel comentar in Model.Item1.Comentars)
												{
													<tr>
														<div class="card-comment-section" style="width:300px">
															<div class="card-comment-symbol"></div>
															<div class="card-comment-box" id="EditCommentarJs" style="border:solid 1px">
																<div class="card-comment-user">
																	<b>@comentar.WorkerFullName</b>
																</div>
																<div class="card shadow-sm ComenntarTextAreaJs" id="ComenntarTextAreaJs">
																	   @comentar.Description
																</div>
																<div class="card-comment-action" id="CommentarEditButtonId">
																	<button class="btn btn-link text-black EditCommentarButtonJs"  asp-controller="Comentar" type="submit" name="EditCommentar" asp-action="Edit" asp-route-id="@comentar.Id">Редактиране</button>
																</div>
															</div>
															<div style="height:5px"></div>
														</div>
													</tr>								
												}
											}
											else
											{
												
											}							
									</tbody>
								</table>
						</fieldset>
						</div>
				</div>
			</form>
		</div>
	</div>
</body>

@section Scripts
	{
				<partial name ="_ValidationScriptsPartial">
}