@model EditGeoTaskViewModel;
@using TaskManager.Services.Data.Interfaces;

@inject IWorkerService WorkerService;
@inject IStatusService StatusService;
@inject IClientService ClientService;
@{
	AllWorkersViewModel currentWorker = await WorkerService.GetWorkerFromTaskWorkerId(Model.WorkerId);
	string currentCheckEr = Model.CheckerId;
	int statusTaskId = Model.StatusId;
	ClientViewModel currentClient = await ClientService.GetClientByIdAsync(Model.ClientId);
	
}

<form method="post" class="geoBody">
<div>
	<div class="GeoTaskStyle">
		<div class="GeoHead">
			<div class="GeoCreateDate">
				<h4>@($"Проект№{Model.ProjectNumber}")</h4>
				<p>Създаден на: @Model.CreateDate.ToString("dd-MM-yyyy")</p>
			</div>
			<div class="Buttons">
				<input class="btn btn-secondary mt-3" type="submit" value="Запиши" name="Edit" asp-action="Edit" asp-route-id="@Model.Id.ToUpper()"/>
				<input class="btn btn-secondary mt-3" type="submit" value="Запиши и затоври" name="SaveAndClose" />
			</div>
		</div>
		<hr />
		<div class="GeoTableBody">
				<fieldset class="MainData">
					<legend class="text-center">Основни данни</legend>
				<hr />
					<table>
						<tbody>
							<tr>
								<td><span>Адрес</span><span class="requried">*</span></td>
								<td><input asp-for="Adrress" class="form-control" placeholder="68134..."/></td>
								<td><span asp-validation-for="Adrress" class="text-danger"></span></td>
							</tr>
							<tr>
								<td><span>Статус</span> <span class="requried">*</span></td>
								<td><select asp-for=StatusId class="form-control"> 
										@foreach (StatusViewModel status in Model.Statuses)
										{
											@if (status.Id == statusTaskId)
											{
												<option selected="selected" value="@status.Id">@($"{status.Name}")</option>				
											}
											else
											{
												<option value="@status.Id">@($"{status.Name}")</option>
											}
										}			
									</select>
								</td>
							</tr>
									<tr>
										<td><span>Отговорник</span> <span class="requried">*</span></td>
										<td><select asp-for=WorkerId class="form-control"> 
										@foreach (AllWorkersViewModel worker in Model.Workers)
										{
											@if(worker.Id == currentWorker.Id.ToUpper())
											{
												<option selected="selected" value="@worker.Id">@($"{worker.FirstName} {worker.LastName}")</option>				
											}
											else
											{
												<option value="@worker.Id">@($"{worker.FirstName} {worker.LastName}")</option>
											}
										}			
										</select></td>
									</tr>
									<tr>
										<td><span>Проверяващ</span> <span class="requried">*</span></td>
										<td><select asp-for=CheckerId class="form-control"> 
										@foreach (AllWorkersViewModel checker in Model.Checkers)
										{
											@if(checker.Id == currentCheckEr)
											{
												<option selected="selected" value="@checker.Id">@($"{checker.FirstName} {checker.LastName}")</option>				
											}
											else
											{
												<option value="@checker.Id">@($"{checker.FirstName} {checker.LastName}")</option>
											}
										}			
										</select></td>
									</tr>
									<tr>
										<td><span>Идентификатор</span><span class="requried">*</span></td>
										<td><input asp-for="IdKKKR" class="form-control" placeholder="68134..."/></td>
										<td><span asp-validation-for="IdKKKR" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Създанена на</span><span class="requried">*</span></td>
										<td><input asp-for="CreateDate" type="date" class="form-control" placeholder="68134..."/></td>
										<td><span asp-validation-for="CreateDate" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Крайна дата</span><span class="requried">*</span></td>
										<td><input asp-for="EndDate" type="date" class="form-control" placeholder="68134..."/></td>
										<td><span asp-validation-for="EndDate" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Тип</span> <span class="requried">*</span></td>
										<td><select asp-for=TypeId class="form-control"> 
												@foreach (TypeViewModel type in Model.Types)
												{
													@if (type.Id == Model.TypeId)
													{
														<option selected="selected" value="@type.Id">@($"{type.Name}")</option>				
													}
													else
													{
														<option value="@type.Id">@($"{type.Name}")</option>
													}
												}			
										</select></td>
									</tr>
									<tr>
										<td><span>Цена</span><span class="requried">*</span></td>
										<td><input asp-for="Price" type="text" class="form-control"/></td>
										<td><span asp-validation-for="Price" class="text-danger"></span></td>
									</tr>
									<tr>
										<td><span>Количество</span><span class="requried">*</span></td>
										<td><input asp-for="quantity" type="number" class="form-control"/></td>
										<td><span asp-validation-for="quantity" class="text-danger"></span></td>
									</tr>
									<tr>
										<td class="GeoLastPrice"><hr />@($"Крайна цена: {(Model.Price * Model.quantity):F2} лв.")</></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
				<fieldset class="ClientData">
					<legend class="text-center">Данни за клиента</legend>
						<hr />
						<table>
							<tbody>
								<tr>
									<td>
										<span>Клиент</span><span class="requried">*</span>
									</td>
									<td><select asp-for=ClientId class="form-control"> 
											@foreach (ClientViewModel client in Model.Clients)
											{
												@if (client.Id == Model.ClientId)
												{
													<option selected="selected" value="@client.Id">@($"{client.Name}")</option>				
												}
												else
												{
													<option value="@client.Id">@($"{client.Name}")</option>
												}
											}			
										</select>
									</td>
									</tr>
									<tr class="ClientPersonalData">
										<td><span>Име:</span></td>
										<td>@currentClient.Name"</td>	
									</tr>
									<tr class="ClientPersonalData">
										<td><span>Представител:</span></td>
										<td>@currentClient.CustomerRepresentative"</td>	
									</tr>
									<tr class="ClientPersonalData">
										<td><span>Телефон:</span></td>
										<td>@currentClient.PhoneNumber"</td>	
									</tr>
									<tr class="ClientPersonalData">
										<td><span>Имейл:</span></td>
										<td>@currentClient.Email"</td>	
									</tr>					
									<tr>
										<td>Забележка</td>
										<td><textarea asp-for="Note" class="form-control"></textarea></td>
										<td><span asp-validation-for="Note" class="text-danger"></span></td>		
									</tr>
								</tbody>
							</table>
						</fieldset>
				<fieldset class="ComentarData">
					<legend>Коментари</legend>
					<hr />
					<tr><button class="btn btn-secondary AddCommentarButton" asp-controller="Comentar" asp-action="Add" asp-route-Id="@Model.Id" type="submit" formmethod="get">Добавяне на коментар</button></tr>										 
						<div class="Commentars">
							@if (Model.Comentars.Any())
							{
								@foreach (ComentarViewModel comentar in Model.Comentars)
									{												
									var workerInitals = comentar.WorkerFullName.Split(" ").ToArray();
									string Intials = workerInitals[0].Substring(0, 1) + workerInitals[1].Substring(0, 1);
									<tr>
										<div class="CardComentarBody">
											<div class="CardComentarWokerName">
												<div class="box">
													<p>@Intials</p>
												</div>
												<h5>@comentar.WorkerFullName</h5>
											</div>
											<hr >
											<div class="ComentarText">
												<p>@comentar.Description</p>
											</div>
											<hr>
											<div class="CardRedactButtonAndDate">
												<a class="btn" asp-controller="Comentar" asp-action="Edit" asp-route-id="@comentar.Id" type="submit">Редактиране</a>	
												<p>@comentar.CreateDate</p>
											</div>
										</div>
									</tr>								
										}
							}	
							</div>
				</fieldset>
	</div>
	</div>
</div>
</form>

@section Scripts
	{
				<partial name ="_ValidationScriptsPartial">
}
